# ---------------------------------------------------------
# VIRTUAL ENVIRONMENT
# ---------------------------------------------------------

.venv/
venv/


# ---------------------------------------------------------
# ENVIRONMENT VARIABLES / SECRETS
# ---------------------------------------------------------

.env
.env.*


# Allow safe example configuration
!.env.example


# ---------------------------------------------------------
# PYTHON CACHE
# ---------------------------------------------------------

__pycache__/
*.py[cod]
*$py.class



# ---------------------------------------------------------
# IDE / EDITOR
# ---------------------------------------------------------

.vscode/
.idea/


# ---------------------------------------------------------
# OPERATING SYSTEM
# ---------------------------------------------------------

.DS_Store
Thumbs.db


# ---------------------------------------------------------
# TEST / CACHE FILES
# ---------------------------------------------------------

.pytest_cache/
.coverage
htmlcov/


# ---------------------------------------------------------
# LOGS
# ---------------------------------------------------------

*.log

# Streamlit secrets
.streamlit/secrets.toml